POSTGRES_USER=devuser
POSTGRES_PASSWORD=change_me
POSTGRES_DB=devdb
POSTGRES_PORT=5432
POSTGRES_IMAGE=postgres:17

CASSANDRA_USER=cassandra
CASSANDRA_PASSWORD=change_me
CASSANDRA1_PORT=9042
CASSANDRA2_PORT=9043
CASSANDRA3_PORT=9044
CASSANDRA_IMAGE=cassandra:5.0

COUCHDB_USER=admin
COUCHDB_PASSWORD=change_me
COUCHDB_SECRET=change_me
COUCHDB1_PORT=5984
COUCHDB2_PORT=5985
COUCHDB_IMAGE=couchdb:3.4
