POSTGRES_USER=devuser
POSTGRES_PASSWORD=change_me
POSTGRES_DB=devdb
POSTGRES_PORT=5432

CASSANDRA_USER=cassandra
CASSANDRA_PASSWORD=change_me

COUCHDB_USER=admin
COUCHDB_PASSWORD=change_me
COUCHDB_SECRET=change_me
